html {
  scroll-padding-top: 50px;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.navbar-brand {
  background-color: gold;
  padding: 0px 5px;
  font-weight: bold;
}

nav .active {
  font-weight: bold;
  color: brown !important;
}

/* Carousel  */
#carousel .carousel-inner {
  height: 100vh;
  position: relative;
  z-index: 1;
}

#carousel .carousel-item {
  height: 100%;
  & img {
    height: 100%;
    object-fit: cover;
    filter: grayscale(0.7);
  }
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.49);
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  & h1 {
    font-size: 40px;
    & span {
      font-size: 50px;
      color: black;
      padding: 0px 5px;
      background-color: gold;
    }
  }
}

#destacados {
  height: 550px;
}

#carousel-destacados .card {
  height: 450px;
  & img {
    height: 200px;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 50%;
}

.btn-up {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

@media (min-width: 768px) {
  #carousel-destacados .card {
    & img {
      object-fit: cover;
      height: 230px;
    }
  }
}
